.type {
    width: 70px;
    display: inline-block;
    font-size: 9px;
    text-transform: uppercase;
    color: #FFF;
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    line-height: 8px;
    margin: 0;
    vertical-align: middle;
    padding: 7px 0px;
    border-radius: 15px;
    border: none;
}